<table class="table">
  <thead>
    <tr class="table__row">
      <th *ngIf="multiSelect" class="table__header table__header--checkbox">
        <input
          type="checkbox"
          (change)="toggleAll()"
          [checked]="isAllSelected()"
          class="table__checkbox"
        />
      </th>
      <th
        *ngFor="let column of columns"
        [style.width]="column.width"
        class="table__header"
      >
        {{ column.header }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="addLine" class="table__row">
      <td
        [attr.colspan]="columns.length + 1"
        class="table__cell table__cell--add"
      >
        <div class="table__add" (click)="handleCreateClick($event)">
          <img src="assets/icons/add.svg" alt="icon" class="table__add-icon" />
          <a class="table__add-link">Добавить новые замеры</a>
        </div>
      </td>
    </tr>
    <tr
      *ngFor="let item of data; let i = index"
      [class.table__row--selected]="isSelected(i)"
      (click)="toggleRow($event, i)"
      class="table__row"
    >
      <td *ngIf="multiSelect" class="table__cell table__cell--checkbox">
        <input
          type="checkbox"
          (click)="toggleRow($event, i)"
          [checked]="isSelected(i)"
          class="table__checkbox"
        />
      </td>
      <td *ngFor="let column of columns" class="table__cell">
        {{ item[column.key] }}
      </td>
    </tr>
  </tbody>
</table>

<ng-template #createContent>
  <div class="create-template">
    <p>Источник</p>
    <app-input [(value)]="createSourceVal"></app-input>
  </div>
</ng-template>

<app-dialog
  *ngIf="isDialogOpen"
  (close)="closeDialog()"
  (confirm)="handleConfirmClick()"
  [title]="title"
  [contentTemplate]="createContent"
></app-dialog>
