<div class="page">
  <div class="page__header">
    <div class="header__navigation">
      <div class="header__title">
        <img class="header__logo" src="assets/images/logo.svg" alt="Logo" />
        <h1 class="header__text">Контрольные замеры</h1>
      </div>
      <app-selector size="big" type="primary" [items]="navItems"></app-selector>
    </div>
    <app-selector
      size="medium"
      type="primary"
      [items]="viewItems"
      [activeIndex]="1"
    ></app-selector>
  </div>
  <div class="page__body">
    <div class="body__column"><app-left-side></app-left-side></div>
    <div class="body__divider">
      <img src="assets/icons/dividerHandle.svg" alt="handle" />
    </div>
    <div class="body__column"><app-right-side></app-right-side></div>
  </div>
  <div class="page__footer">
    <p class="footer__text">Версия 11.6.5.41</p>
  </div>
</div>
