.switch-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.switch {
  width: 32px;
  height: 16px;
  border: 1px solid #bfbfbf;
  border-radius: 32px;
  position: relative;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.switch.checked {
  border-color: #005baa;
  background-color: #005baa;
  .switch-handle {
    background-color: white;
  }
}

.switch-handle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #bfbfbf;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: left 0.3s;
}

.switch.checked .switch-handle {
  left: 17px;
}
